{% load static %}

<div class='container large-bg-main pad-top-3 pad-bottom-5 my-1 mainpagebox'>
	<div class='my-5 row'>
		<div class="float-right mx-auto row">
			<div class='text-center center-content col-lg-4 col-md-10 mx-auto '>
			
				<div class='portrait mx-auto'>
					<img class='' src="{% static '/sources/img/portrait.png' %}">
				</div>
				<div class="row mx-auto iconbox">
					<a class=" badge col-4  my-1 mx-auto" href="https://github.com/derwolz/"><img class='icon' 
						src="{% static '/sources/img/git.png' %}" alt='github logo'></a>
					<a class=" badge col-4 my-1 mx-auto" href="https://docs.google.com/document/d/1Msdp6ECSAJlCpu9wcjnuXnU2Iu7Tr09cT9tqIImDcqw/edit?usp=sharing"><img class='icon' 
						src="{% static '/sources/img/Resume.png' %}" alt='document logo'></a>
					<a class=" badge col-4 my-1 mx-auto" href="https://linkedin.com/in/blaine-wolz"><img class='icon' 
						src="{% static '/sources/img/linkedin.png' %}" alt='linkedin logo'></a>
				</div>

			</div>
			<div class='row col-lg-8'>
				<div class=' row mx-2'>
					<div class='textbox card my-2 align-content-center desc-card'>
						Thank you for visiting my site! I am a full stack developer with knowledge of C#, Python, C++, and Javascript. I graduated from the Tech academy in 2020, and have been using technology to learn and develop tools ever since. This site looks best on a desktop at full screen.
					</div>
				</div>
				<div class='row mx-2'>
					<div class='textbox card desc-card hide'>
						<div class=' under-construction '>
							words
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='row mx-auto'>
			
			<div class='mx-2 my-2 col-lg-7'>
				<div id='work-experience' class='card desc-card '>
					<h3><div class='text-center mx-2'>Work Experience</div></h3>
					{% for work in workexp %}
					
						<div class='mx-2'>
							<strong><h5>{{work}}</li></h5></strong>
							<h5>{{work.start_year}} - {{ work.end_year }}</h5>
						</div>
						<ul>
							{%for desc in workskills %}
								{% if desc.job == work %}<li>{{ desc }}</li> {% endif %}
							{%endfor%}
						</ul>
					
					{% endfor %}
				</div>
			</div>
			<div class='col-lg-4 '>
				<div class='row mx-auto'>
					<div class='mx-auto my-2 col-auto'>
						<div id='front-end' class=' card desc-card float-left '>
							<div class='text-center mx-2'>
								<h4>Front End Skills</h4>
							</div>
						<ul>
							{%for skill in front_skills %}
							<li>{{skill}}</li>	
							{% endfor %}
						</ul>
						</div>
					</div>
					<div class='mx-auto my-2 col-auto'>
						<div id='back-end' class=' card desc-card float-left '>
								<div class='text-center mx-2'><h4>Back End Skills</h4></div>
							<ul>
								{%for skill in back_skills%}
								<li>{{skill}}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>







<script>

const webIndex = 0;
</script>
